 
*{
    margin:0;
    padding:0;
}
 div.tituloejercicios1, div.tituloejercicios2, div.tituloejercicios3, div.tituloejercicios4{
    width:100%;
    height:15%;
    position:absolute;
    left:0;
    top:0;
}
div.tituloejercicios1{
    background-color:#b388ff;
    border-bottom:0.3em solid #dc49b0;
}
div.tituloejercicios2{
    background-color:#7c4dff;
    border-bottom:0.3em solid #dc49b0;
}
div.tituloejercicios3{
    background-color:#651fff;
    border-bottom:0.3em solid #dc49b0;
}
div.tituloejercicios4{
    background-color:#6200ea;
    border-bottom:0.3em solid #dc49b0;
}
h1.titulo{
    font-size:4.6vh;
    margin-left:2.5%;
    margin-top: 2vh;
    line-height: 6vh;
    font-family:Helvetica;
    color:#dc49b0;
}
h2.subtitulo{
    font-size:4vh;
    text-align:right;
    margin-right:2.5%;
    font-family:Helvetica;
    color:#dc49b0;
    line-height:4vh;
}
div.contenedorb{
    width:90%;
    height:70%;
    position:absolute;
    left:5%;
    top:16%;
    overflow:auto;
}
div.textoyboton{
    width:100%;
    float:left;
    margin-top:5%;
    margin-bottom:5%;
}
img.botones{
    width:15%;
    float:left;
    margin-right:5%;
}
p.texto{
    font-size:3vh;
    line-height: 8vh;
}
div.empezar1,div.empezar2, div.empezar3, div.empezar4{
    width:100%;
    height:15%;
    position:absolute;
    left:0%;
    bottom:0%;
    z-index:50;
}
div.empezar1{
    background-color:#b388ff;
    border-top:0.3em solid #dc49b0;
}
div.empezar2{
    background-color:#7c4dff;
    border-top:0.3em solid #dc49b0;
}
div.empezar3{
    background-color:#651fff;
    border-top:0.3em solid #dc49b0;
}
div.empezar4{
    background-color:#6200ea;
    border-top:0.3em solid #dc49b0;
}
.comenzar{
    font-size:5.5vh;
    text-align:right;
    margin-right:4.5%;
    line-height: 12vh;
    font-family:Helvetica;
    color:#dc49b0;
}
img.atras{
    width:9vh;
    float:left;
    margin-top:2.5vh;
    margin-left:2.5%;
}
.invisible{
        display:none;
    }
.encabezado{
    width:100%;
    height:15%;
    position:fixed;
    left:0;
    top:0;
    background-color:red;
}
.iconopregunta{
    width:15%;
    
}
.pregunta{
    width:100%;
    height:15%;
    background-color:green;
    position:fixed;
    top:15.5%;
    left:0;
    
}
/* COmienzo del input */
.subministrar{
    border-top: 1vw solid #9e9e9e;
    display:none;
    background-color: white;
    width:100%;
    padding:1%;
    position:fixed;
    bottom:0;
    z-index: 79;
}
.inputexto{
    background-color: #f5f5f5;
    font-size: 5vw;
    display:inline-flex;
    border:none;
    border-bottom: 1vw solid #9e9e9e;
    width:90%;
    margin: 0;
}
.enter{
    display:inline-flex;
    font-size:9vw;
    font-weight: 900;
    margin:0% 1% 0% 1%;
}
/* Fin del input */
.respuesta{
    width:100%;
    height:15%;
    background-color:yellow;
    position:fixed;
    top:31%;
    left:0;
}
.centrado{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 