body{
background-color: white;
width: 100%;
height: 100%;
}
div.cont1,
div.cont2,
div.cont3,
div.cont4{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:20%;
}
div.cont1{
    background-color:#b388ff;
}
div.cont2{
    background-color:#7c4dff;
}
div.cont3{
    background-color:#651fff;
}
div.cont4{
    background-color:#6200ea;
}
div.boton{
    position: absolute; 
    left: 1.5%; 
    top: 30%;
    width:15%;
    z-index: 100;
}
div.api1, div.api2, div.api3, div.api4{
    width: 100%;
    height:6%;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;

}
div.api1{
    background-color:#0d47a1;
    border-bottom:2vw solid #b388ff;
}
div.api2{
    background-color:#ff5722;
    border-bottom:2vw solid #7c4dff;
}
div.api3{
    background-color:#ffc400;
    border-bottom:2vw solid #651fff;
}
div.api4{
    background-color:#e65100;
    border-bottom:2vw solid #6200ea;
}
img.boton{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.numero1, .numero2, .numero3, .numero4{
    text-align: center;
    font-family: helvetica;
    font-size: 14vw;
    margin-top: 5%;
}
.numero1{
    color: #0d47a1;
}
.numero2{
    color: #ff5722;
}
.numero3{
    color:ffd740 ;
}
.numero4{
    color:e65100 ;
}
.mediano{
    font-size: 11vw;
    margin-top: 8%;
}
.pequeno{
    font-size: 10vw;
    margin-top: 1%;
}
h3.referenteapi1, h3.referenteapi2, h3.referenteapi3, h3.referenteapi4{
    text-align: left;
    font-size: 6vw;
    margin-top: 1%;
    margin-left:2%;
}
h3.referenteapi1{
    color: #b388ff;
}
h3.referenteapi2{
    color: #7c4dff;
}
h3.referenteapi3{
    color: #651fff;
}
h3.referenteapi4{
    color: #6200ea;
}
h3.transcripcion1, h3.transcripcion2, h3.transcripcion3, h3.transcripcion4{
    text-align: right;
    font-size: 6vw;
    margin-top: -14%;
    margin-right:2%;
}
h3.transcripcion1{
    color: #b388ff;
    
}
h3.transcripcion2{
    color: #7c4dff;
}
h3.transcripcion3{
    color: #651fff;
}
h3.transcripcion4{
    color: #6200ea;
}
div.numeros{
    position:absolute;
    top:27%;
    overflow:auto;
    width: 100%;
    height: 73%;
}
img{
    margin-left:auto;
    margin-right:auto;
    float: left;
    width: 32%;
}
img.grand{
    float: left;
    width: 48%;
    height:40%;
}