body{
background-color: white;
}
div.titulo,
div.titulo1,
div.titulo2,
div.titulo3,
div.titulo4{
    display: flex;  
    align-items: center;
    width:100%;
    height:20%;
    position:fixed;
    top:0;
    left:0;
    z-index: 50;
}
div.titulo{
    background-color:#cddc39;
    border-bottom:0.3em solid #dc49b0;
}
div.titulo1{
    background-color:#b388ff;
    border-bottom:0.3em solid #dc49b0;
}
div.titulo2{
    background-color:#7c4dff;
    border-bottom:0.3em solid #dc49b0;
}
div.titulo3{
    background-color:#651fff;
    border-bottom:0.3em solid #dc49b0;
}
div.titulo4{
    background-color:#6200ea;
    border-bottom:0.3em solid #dc49b0;
}
h1{
    font-family:Helvetica;
    font-size:9vh;
    color:#dc49b0;
    margin-left:auto;
    margin-right:auto;
}
div.menu,
div.menu1{
    overflow:auto;
    width:80%;
    position:absolute;
    left:10%;    
}
div.menu{
    top:27%;

}
div.menu1{
    top:43%;
}
div.marco{
    padding-top:1.5%;
    
}
div.marco1{
    display: flex;  
    align-items: center;
}
div.unidad1,
div.unidad2,
div.unidad3,
div.unidad4
{
    width:99%;
    height:18%;
    box-shadow: 5px 5px 0px  #d1c4e9;
}
div.unidad1{
    background-color:#b388ff;
    margin-top:0;
    margin-bottom:10%;
}
div.unidad2{
    background-color:#7c4dff;
    margin-bottom:10%;
}
div.unidad3{
    background-color:#651fff;
    margin-bottom:10%;
}
div.unidad4{
    background-color:#6200ea;
    margin-bottom:0;
}
h2.chiffres,
h2.index{
    font-size:4vh;
    font-family:Helvetica;
    color:white;
}
h2.index{
    margin-top:0;
    margin-bottom:0;
    margin-left:5%;
}
h2.chiffres{
    margin-left:auto;
    margin-right:auto;
}
p{
    font-size:3.5vh;
    font-family:Helvetica;
    color:white;
    text-align:center;
    margin-top:0.5%;
}
a{
    text-decoration:none;
}
img{
   width:15%;
   position:fixed;
   top:26%;
   left:43%;
}
b{
    color:green;
}
p.grammaire{
    color:black;
    font-size:3.5vh;
    font-family:Helvetica;
    text-align:left;
    margin-top:0.5%;
}
div.texto{
    height: 68%;
    width: 100%;
    overflow:auto;  
}
.mascara {
    background: rgba(0,0,0,0.7);
    font-family:Helvetica;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.mascara:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 75%;
    height:90%;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    transition: all 500ms ease-in;
}
.mascara:target .movedown{       
    margin:5% auto;
}
.cerrar1, .cerrar2, .cerrar3, .cerrar4{
    background: #e91e63;
    width: 100%;
    line-height: 250%;
    position: absolute;
    bottom:0%;
    right: 0%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Helvetica;
    font-size:1.3em;
}
.cerrar1{
    color:#b388ff;
    border-top: 0.3em solid #b388ff;
}
.cerrar2{
    color:#7c4dff;
    border-top: 0.3em solid #7c4dff;
}
.cerrar3{
    color:#651fff;
    border-top: 0.3em solid #651fff;
}
.cerrar4{
    color:#6200ea;
    border-top: 0.3em solid #6200ea;
}
.remarque1, .remarque2, .remarque3, .remarque4{
    font-size:8vw;
    font-weight: bold;
    font-family:Helvetica;
}
.remarque1{
    color:#b388ff;
}
.remarque2{
    color:#7c4dff;
}
.remarque3{
    color:#651fff;
}
.remarque4{
    color:#6200ea;
}